[submodule "src/libraries/tinyosc"]
	path = src/libraries/tinyosc
	url = https://github.com/mhroth/tinyosc.git
[submodule "src/libraries/hidapi"]
	path = src/libraries/hidapi
	url = https://github.com/signal11/hidapi.git
